{% extends "layout.html" %}
{% block info %}


    <form method ="POST">
        <label for="Source">Choose SourceDB:</label>
        <select id="Source" name="Source">
            <option value="SQL">SQL</option>
            <option value="Mongo">Mongo</option>
        </select>
        <br>
        <label for="Target">Choose TargetDB:</label>
        <select id="Target" name="Target">
            <option value="Mongo">Mongo</option>
            <option value="SQL">SQL</option>

        </select>
        <br>
        <button onclick=getvalue()>confirm </button>
         <br>
     <script>
function getvalue(){
var source_DB = document.getElementById('Source').value;
var target_DB = document.getElementById('Target').value;
localStorage.setItem('Source',source_DB);
//window.open("http://127.0.0.1:5000/home");
if(source_DB !== target_DB ){

    if (source_DB === "SQL" && target_DB === "Mongo") {

        window.open("http://127.0.0.1:5000/sql");
    } else {

        window.open("http://127.0.0.1:5000/mongo");
    }
}
else{
    alert("Source and Target cannot be same");
}
//window.close("http://127.0.0.1:5000/home");
  }
</script>


    </form>

{% endblock %}

