{% extends "layout.html" %}
{% block info %}
<form method ="POST" >
  <label for="host">Host:</label><br>
  <input type="text" id="host" name="host"><br>
  <label for="User">User:</label><br>
  <input type="text" id="User" name="User"><br>
  <label for="password">password:</label><br>
  <input type="password" id="password" name="password"><br>
  <label for="DBName">Database Name:</label><br>
  <input type="text" id="DBName" name="DBName">
  <input type="submit" value="convert">


</form>


{% endblock %}